* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../media/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.layout {
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    background-color: white;
    width: 25%;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 21px;
}

.input-field {
    margin: auto;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
}

.button {
    background-color: black;
    border: none;
    border-radius: 20px;
    margin: 0 100px;
    padding: 10px 30px;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
}