body {
    background-image: url('../media/cat.jpg');
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

.blue {
    color: cadetblue;
}

table {
    width: 90%;
    margin: auto;
    background-color: white;
}

.head-style {
    background-color: cadetblue;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#headline {
    margin-bottom: 0;
    padding-top: 10px;
}

#jobdesc {
    margin-top: 5px;
    padding-bottom: 15px;
}

#image {
    margin: 5px 0 15px 0;
    border-radius: 15px;
}

.contact-section {
    padding: 20px;
    background-color: #ecf0f1;
}

.about-section {
    padding: 20px;
}

.skills-section {
    padding: 20px;
    background-color: #ecf0f1;
}

.project-section {
    padding: 20px;
}

a:link {
    text-decoration: none;
}

a:hover#campus-link {
    opacity: 0;
}

a:hover#project-link {
    background-color: #b2b2ff;
}

.skills-section {
    padding-left: 20px;
}

ol {
    list-style-type: katakana;
}